div.cont{
    padding-left: 20px;
    padding-right: 20px;
}

div.row {
    margin-top: 50px;
}

div.cont{
    padding-left: 20px;
    padding-right: 20px;
}

img.blogs{
    border-radius: 1%;
    max-height: 400px;

}

div.row {
    margin-top: 50px;
}

p.header{
    font-size: 14px;
    margin-top: 12px;
}

p.body{
    text-align: justify;
}

.imageauthor{
    padding: 0;
    margin: 0;
}

img.author{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    align-content: center;
}

p.author{
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.cards{
    border: none;
}

.truncate{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 5);
    -webkit-box-orient: vertical;
    word-break: var(--word-break, 'none');
    overflow: hidden;
  }

