.form-control:focus {
    border-color: #1a191a;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 0, 0, 0.5);
}

button.touch{
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}